[Unit]
Description=Configuration automatique de l'interface CAN0 (PCAN-USB)
After=network.target
Wants=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'ip link set can0 type can bitrate 500000 && ip link set can0 up'
ExecStop=/bin/bash -c 'ip link set can0 down'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
